*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1040px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 37.5%;
  }
}

body {
  background-color: #f2f2f2;
}

@media (max-width: 560px) {
  .Small-button-1 {
    background-color: #fff;
    color: #e38826;
  }
}

.container {
  width: 90rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 560px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40rem;
    height: auto;
  }
}

@media (max-width: 360px) {
  .container {
    width: 100%;
    text-align: center;
    border-radius: 0;
  }
}

.container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__top {
  padding-top: 3rem;
}

.container__top > * {
  padding: 1.5rem 0;
}

.container__bottom {
  padding-bottom: 3rem;
}

.container__box-1 {
  background-color: #e38826;
}

.container__box-1 > * {
  margin: 0 4rem;
}

.container__box-2 {
  background-color: #006970;
}

.container__box-2 > * {
  margin: 0 4rem;
}

.container__box-3 {
  background-color: #004241;
}

.container__box-3 > * {
  margin: 0 4rem;
}

.container__header {
  font-family: 'Big Shoulders Display',sans-serif;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container__paragraph {
  font-family: 'Lexend Deca',sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffffbf;
  line-height: 1.5;
}

.container__button-1, .container__button-2, .container__button-3 {
  border: none;
  width: auto;
  font-size: 1.4rem;
  font-family: 'Lexend Deca',sans-serif;
  letter-spacing: 1.7px;
  border: 2px solid #ffffffbf;
  background-color: transparent;
  color: #ffffffbf;
  padding: 1rem 2rem;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 560px) {
  .container__button-1 {
    background-color: #fff;
    color: #e38826;
  }
}

@media (max-width: 560px) {
  .container__button-2 {
    background-color: #fff;
    color: #006970;
  }
}

@media (max-width: 560px) {
  .container__button-3 {
    background-color: #fff;
    color: #004241;
  }
}
