
// Container Part
.container{
    width: 90rem;
    height: 50rem;

    // flex to group the cards
    display: flex;

    border-radius: 1rem;
    overflow: hidden;
    // Center the container
    @include absCenter;

    @include response(Mobile-Large){
        // flex direction change row to colume for mobile view
        flex-direction: column;

        width: 40rem;

        //auto height to contain full data
        height: auto;

    }

    @include response (Mobile-Small){

        width: 100%;
        text-align: center;
        border-radius: 0;
    }
    & > * {

        //display flex to set 3 cards contain items have equally space vertically
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    &__top{
        //top part padding
        padding-top: 3rem;

        & > * {
            //top part items padding between them
            padding: 1.5rem 0;
        }
    }

    &__bottom{
        //bottom part of a card padding
        padding-bottom: 3rem;
    }

    &__box-1{
        background-color: $color-orange;

        & > * {
            margin: 0 4rem;
        }


    }

    &__box-2{
        background-color: $color-light-cyan;

        & > * {
            margin: 0 4rem;
        }
    }

    &__box-3{
        background-color: $color-dark-cyan;

        & > * {
            margin: 0 4rem;
        }
    }

    &__header{
        font-family: 'Big Shoulders Display',sans-serif;
        color: $color-header;
        font-size: 3rem;
        letter-spacing: 2px;
        text-transform: uppercase;

    }

    &__paragraph{
        font-family: 'Lexend Deca',sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        color: $color-font-paragraph;
        line-height: 1.5;
    }


    //customaize all button at once
    &__button-1,
    &__button-2,
    &__button-3{
        border: none;
        width: auto;
        font-size: 1.4rem;
        font-family: 'Lexend Deca',sans-serif;
        letter-spacing: 1.7px;
        border: 2px solid $color-font-paragraph;
        background-color: transparent;
        color: $color-font-paragraph;
        padding: 1rem 2rem;
        border-radius: 100px;
        cursor: pointer;



    }

    //customaize button when screen is small
    &__button-1{


            @include response (Mobile-Large){
                background-color: $color-header;
                color: $color-orange;
            }

    }

    &__button-2{


        @include response (Mobile-Large){
            background-color: $color-header;
            color: $color-light-cyan;
        }

}

&__button-3{


    @include response (Mobile-Large){
        background-color: $color-header;
        color: $color-dark-cyan;
    }

}


}